In [55]:
import pandas as pd
url="https://bd29ee0e-54ab-4daa-9671-d153865d1620.usrfiles.com/ugd/bd29ee_aa6d53b46ca443dea5b8031d958bc35c.csv"
df=pd.read_csv(url)
df.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [56]:
X=df.drop(["Frequency (times)","Time (months)","whether he/she donated blood in March 2007"],axis=1)
X.head()

   Recency (months)  Monetary (c.c. blood)
0                 2                  12500
1                 0                   3250
2                 1                   4000
3                 2                   5000
4                 1                   6000

In [57]:
y=df[["whether he/she donated blood in March 2007"]]
y.head()

   whether he/she donated blood in March 2007
0                                           1
1                                           1
2                                           1
3                                           1
4                                           0

In [58]:
import numpy as np
from sklearn import metrics
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [69]:
from sklearn.cluster import MeanShift, estimate_bandwidth
bandwidth = estimate_bandwidth(X,quantile=0.75, n_jobs=-1)
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True)
labels=ms.fit_predict(X)
labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)
print("The number of clusters is: ",n_clusters_)
print("The silhouette score is: ",silhouette_score(X, labels))

The number of clusters is:  2
The silhouette score is:  0.8202610427197211

In [70]:
label=pd.DataFrame(labels).rename(columns={0:"Label"})

In [71]:
comparison=pd.concat([X,y,label],axis=1)
comparison.head()

,Recency (months),Monetary (c.c. blood),whether he/she donated blood in March 2007,Label
0,2,12500,1,1
1,0,3250,1,0
2,1,4000,1,0
3,2,5000,1,0
4,1,6000,0,1

In [72]:
accuracy=pd.DataFrame(comparison["whether he/she donated blood in March 2007"]==comparison["Label"]).rename(columns={0:"Accurate"})
accuracy.head(10)

   Accurate
0      True
1     False
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9      True

In [73]:
len(accuracy[accuracy["Accurate"]==True])/len(comparison)

0.7633689839572193

In [74]:
indices=accuracy[accuracy["Accurate"]==True]
indices=indices.index.tolist()

In [75]:
accurate=comparison.loc[indices,:]
accurate.head()

,Recency (months),Monetary (c.c. blood),whether he/she donated blood in March 2007,Label
0,2,12500,1,1
5,4,1000,0,0
7,1,3000,0,0
9,5,11500,1,1
11,0,750,0,0

In [76]:
len(accurate[accurate["Label"]==1])

8

In [77]:
from sklearn.neighbors import NearestCentroid
clf = NearestCentroid()
clf.fit(X, labels)
clf.centroids_

array([[9.59208731e+00, 1.23840382e+03],
       [5.33333333e+00, 8.23333333e+03]])

In [37]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X=pd.DataFrame(scaler.fit_transform(X),columns=X.columns)
X.head()

   Recency (months)  Monetary (c.c. blood)
0         -0.927899               7.623346
1         -1.175118               1.282738
2         -1.051508               1.796842
3         -0.927899               2.482313
4         -1.051508               3.167784

In [45]:
bandwidth = estimate_bandwidth(X,quantile=0.96, n_jobs=-1)
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True)
labels=ms.fit_predict(X)
labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)
print("The number of clusters is: ",n_clusters_)
print("The silhouette score is: ",silhouette_score(X, labels))

The number of clusters is:  2
The silhouette score is:  0.8006731253451781

In [46]:
label=pd.DataFrame(labels).rename(columns={0:"Label"})

In [47]:
comparison=pd.concat([X,y,label],axis=1)
comparison.head()

,Recency (months),Monetary (c.c. blood),whether he/she donated blood in March 2007,Label
0,-0.927899,7.623346,1,0
1,-1.175118,1.282738,1,0
2,-1.051508,1.796842,1,0
3,-0.927899,2.482313,1,0
4,-1.051508,3.167784,0,0

In [48]:
accuracy=pd.DataFrame(comparison["whether he/she donated blood in March 2007"]==comparison["Label"]).rename(columns={0:"Accurate"})
accuracy.head(10)

   Accurate
0     False
1     False
2     False
3     False
4      True
5      True
6     False
7      True
8     False
9     False

In [49]:
len(accuracy[accuracy["Accurate"]==True])/len(comparison)

0.7593582887700535

In [50]:
indices=accuracy[accuracy["Accurate"]==True]
indices=indices.index.tolist()

In [51]:
accurate=comparison.loc[indices,:]
accurate.head()

,Recency (months),Monetary (c.c. blood),whether he/she donated blood in March 2007,Label
4,-1.051508,3.167784,0,0
5,-0.680679,-0.259572,0,0
7,-1.051508,1.111370,0,0
10,-0.680679,2.996416,0,0
11,-1.175118,-0.430940,0,0

In [52]:
len(accurate[accurate["Label"]==0])

568

In [53]:
y.groupby("whether he/she donated blood in March 2007")["whether he/she donated blood in March 2007"].count()

whether he/she donated blood in March 2007
0    570
1    178
Name: whether he/she donated blood in March 2007, dtype: int64

In [54]:
568/570

0.9964912280701754